@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;900&display=swap");

:root {
  --mint: #10ac84;
  --light-green: #f1f8fa;
}

* {
  font-family: "Poppins", sans-serif;
  color: #222f3e;
  box-sizing: border-box;
}

h1 {
  font-weight: 700;
  font-size: 56px;
  margin-bottom: 30px;
}

img {
  border-radius: 6px;
}

p {
  font-size: 16px;
  line-height: 1.75;
}

.hero {
  background-color: var(--light-green);
  text-align: center;
  padding: 160px 20px;
}

.hero h2 {
  font-size: 26px;
  font-weight: 400;
}

.hero p {
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 5px;
}

.button-mint {
  background-color: var(--mint);
  border: 2px solid var(--mint);
  padding: 10px 20px;
  border-radius: 4px;
  color: white;
  transition: all 250ms ease-in-out;
}

.button-mint:hover {
  background: transparent;
  transform: scale(1.02);
  color: var(--mint);
  cursor: pointer;
  border: 2px solid var(--mint);
}

.button-mint-outline {
  background: transparent;
  border: 2px solid var(--mint);
  padding: 10px 15px;
  border-radius: 4px;
  color: var(--mint);
  transition: all 250ms ease-in-out;
}

.button-mint-outline:hover {
  background-color: var(--mint);
  color: white;
}

.work-description {
  padding-left: 30px;
}

.about {
  padding: 160px 50px;
}
.about-content {
  margin: 30px;
}

.portrait {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

@media (max-width: 768px) {
  .about-content {
    margin: 20px;
    margin-top: 100px;
  }

  .work-description {
    padding: 0;
    text-align: center;
  }
}
