@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@600&display=swap");

:root {
  --mint: #10ac84;
  --light-green: #f1f8fa;
}

* {
  font-family: "Poppins", sans-serif;
  color: #222f3e;
  box-sizing: border-box;
}

h1 {
  font-weight: 700;
  font-size: 56px;
  margin-bottom: 30px;
}

img {
  border-radius: 6px;
}

p {
  font-size: 16px;
  line-height: 1.75;
}

nav {
  padding: 10px 0;
  position: sticky;
}

nav p {
  font-family: "Caveat", cursive;
  font-weight: 600;
  font-size: 24px;
  margin: 0;
}

nav p a {
  text-decoration: none;
  font-family: "Caveat", cursive;
  color: #222f3e;
}

nav p span {
  color: var(--mint);
  font-family: "Caveat", cursive;
}

nav ul {
  padding: 0;
  margin: 0;
}

nav li {
  display: inline;
  list-style-type: none;
  margin-left: 30px;
}

nav li a {
  color: rgba(34, 47, 62, 0.75);
  text-decoration: none;
  transition: all 150ms ease-in-out;
  cursor: pointer !important;
  font-weight: 500;
}

nav li a:hover {
  color: var(--mint);
  text-decoration: underline;
  text-underline-offset: 5px;
}

nav li.active a {
  color: var(--mint);
}

.hero {
  background-color: var(--light-green);
  text-align: center;
  padding: 160px 20px;
}

.hero h2 {
  font-size: 26px;
  font-weight: 400;
}

.hero p {
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 5px;
}

.button-mint {
  background-color: var(--mint);
  border: 2px solid var(--mint);
  padding: 10px 20px;
  border-radius: 4px;
  color: white;
  transition: all 250ms ease-in-out;
}

.button-mint:hover {
  background: transparent;
  transform: scale(1.02);
  color: var(--mint);
  cursor: pointer;
  border: 2px solid var(--mint);
}

.button-mint-outline {
  background: transparent;
  border: 2px solid var(--mint);
  padding: 10px 15px;
  border-radius: 4px;
  color: var(--mint);
  transition: all 250ms ease-in-out;
}

.button-mint-outline:hover {
  background-color: var(--mint);
  color: white;
}

.work-description {
  padding-left: 30px;
}

.content-container {
  padding: 160px 50px;
}

.content {
  margin: 30px;
}

.content a {
  color: var(--mint);
}

.content a:hover {
  color: var(--mint);
  text-decoration: none;
  cursor: pointer !important;
}

.portrait {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.check-out {
  font-size: 42px;
  margin-bottom: 100px;
}

@media (max-width: 768px) {
  .about-content {
    margin: 20px;
    margin-top: 100px;
  }

  .work-description {
    padding: 0;
    text-align: center;
  }
  nav p {
    display: none;
  }
  nav ul {
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  nav ul li:nth-of-type(1) {
    margin-left: 0;
  }
}
